.main-bg {
  background-image: linear-gradient(
      rgba(251, 194, 235, 0.8),
      rgba(166, 193, 238, 0.5)
    ),
    url('/images/bg.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .main-wrap {
    height: 100%;
    width: 100%;
    position: absolute;
  }
}

/* Homepage */
.home-container {
  display: flex;
  height: 100%;
  align-items: center;
}

.home-row {
  width: 100%;
  margin: 0 auto;

  .card {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  }

  img {
    max-height: 160px;
  }
}

.modal-content {
  background-image: linear-gradient(
    rgba(251, 194, 235, 0.8),
    rgba(166, 193, 238, 0.5)
  );
}
