{{!-- Chris --}}
<nav class="navbar navbar-dark fixed-top justify-content-between">
  <a class="navbar-brand" href="/"><span id="logo">DevPool</span></a>
  <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse text-right" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/about">About Us</a>
      </li>
    </ul>
  </div>
</nav>