{{!-- Chris --}}
{{!-- Employer Modals --}}
<div class="modal fade" id="empLaunchModal" tabindex="-1" role="dialog" aria-labelledby="empLaunch" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="empLaunch">Employers</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex">
        <form class="px-3 border-right">
          <div class="form-group">
            <h5>Returning Members</h5>
            <label for="returningEmpEmail">Email address</label>
            <input type="email" class="form-control" id="returningEmpEmail">
            <label for="returningEmpPassword">Password</label>
            <input type="password" class="form-control" id="returningEmpPassword">
          </div>
          <a href="/employers/1" class="btn btn-primary">
            Sign In
          </a>
        </form>
        <form class="px-3">
          <div class="form-group">
            <h5>New Here?</h5>
            <label for="newEmpEmail">Email address</label>
            <input type="email" class="form-control" id="newEmpEmail">
            <label for="newEmpPassword">Password</label>
            <input type="password" class="form-control" id="newEmpPassword">
          </div>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#empModalOne"
            data-dismiss="modal">
            Sign Up
          </button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="empModalOne" tabindex="-1" role="dialog" aria-labelledby="empLabelOne" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="empLabelOne">Employers</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="validate" id="empFormOne">
          <div class="form-group">
            <label for="bus-name">Company Name</label>
            <input type="text" class="form-control" id="bus-name" required>
            <label for="bus-url">Company Website - URL</label>
            <input type="url" class="form-control" id="bus-url" required>
            <label for="bus-address">Company Address</label>
            <input type="text" class="form-control" id="bus-address" required>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" form="empFormOne" class="btn btn-primary" data-dismiss="modal" data-toggle="modal"
          data-target="#empModalTwo" id="empNextOne">Next</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="empModalTwo" tabindex="-1" role="dialog" aria-labelledby="empModalLabelTwo"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="empModalLabelTwo">Employers Step 2</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="validate" id="empFormTwo">
          <div class="form-group">
            <label for="bus-bio">Company Bio</label>
            <input type="text" class="form-control" id="bus-bio" required>
            <label for="bus-photo">Company Photo - URL</label>
            <input type="url" class="form-control" id="bus-photo" required>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal"
          data-target="#empModalOne">Back</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal"
          data-target="#empModalThree" id="empNextTwo">Next</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="empModalThree" tabindex="-1" role="dialog" aria-labelledby="empModalLabelThree"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabelThree">Employers Step 3</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="validate">
          <div class="form-group">
            <label for="busSkillOne">Select Skill</label>
            <select class="form-control" id="busSkillOne" reqiuired>
              <option>HTML5</option>
              <option>CSS3</option>
              <option>JavaScript</option>
              <option>SQL</option>
              <option>React</option>
            </select>
            <label for="busSkillTwo">Select Skill</label>
            <select class="form-control" id="busSkillTwo" required>
              <option>HTML5</option>
              <option>CSS3</option>
              <option>JavaScript</option>
              <option>SQL</option>
              <option>React</option>
            </select>
            <label for="busSkillThree">Select Skill</label>
            <select class="form-control" id="busSkillThree" required>
              <option>HTML5</option>
              <option>CSS3</option>
              <option>JavaScript</option>
              <option>SQL</option>
              <option>React</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal"
          data-target="#empModalTwo">Back</button>
        <a href="/employers" class="btn btn-primary" id="busSubmit">Submit</a>
      </div>
    </div>
  </div>
</div>

{{!-- Dev Modals --}}
<div class="modal fade" id="devLaunchModal" tabindex="-1" role="dialog" aria-labelledby="devLaunch" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="devLaunch">Developers</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex">
        <form class="px-3 border-right">
          <div class="form-group">
            <h5>Returning Members</h5>
            <label for="returningDevEmail">Email address</label>
            <input type="email" class="form-control" id="returningDevEmail">
            <label for="returningDevPassword">Password</label>
            <input type="password" class="form-control" id="returningDevPassword">
          </div>
          <a href="/developers/1" class="btn btn-primary">
            Sign In
          </a>
        </form>
        <form class="px-3">
          <div class="form-group">
            <h5>New Here?</h5>
            <label for="newDevEmail">Email address</label>
            <input type="email" class="form-control" id="newDevEmail">
            <label for="newDevPassword">Password</label>
            <input type="password" class="form-control" id="newDevPassword">
          </div>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#devModalOne"
            data-dismiss="modal">
            Sign Up
          </button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="devModalOne" tabindex="-1" role="dialog" aria-labelledby="devLabelOne" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="devLabelOne">Developers</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="validate" id="devFormOne">
          <div class="form-group">
            <label for="dev-name">Dev Name</label>
            <input type="text" class="form-control" id="dev-name" required>
            <label for="dev-photo">Dev Photo - URL</label>
            <input type="url" class="form-control" id="dev-photo" required>
            <label for="dev-exp">Dev Experience</label>
            <input type="number" class="form-control" id="dev-exp" required>
            <label for="dev-bio">Dev Bio</label>
            <input type="text" class="form-control" id="dev-bio" required>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal"
          data-target="#devModalTwo" id="devNextOne">Next</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="devModalTwo" tabindex="-1" role="dialog" aria-labelledby="devLabelTwo" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="devLabelTwo">Developers Step 2</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="validate" id="devFormTwo">
          <div class="form-group">
            <label for="dev-git">Dev Github - URL</label>
            <input type="url" class="form-control" id="dev-git" required>
            <label for="dev-linkedin">Dev LinkedIn - URL</label>
            <input type="url" class="form-control" id="dev-linkedin" required>
            <label for="dev-portfolio">Dev Portfolio - URL</label>
            <input type="url" class="form-control" id="dev-portfolio" required>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal"
          data-target="#devModalOne">Back</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal"
          data-target="#devModalThree" id="devNextTwo">Next</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="devModalThree" tabindex="-1" role="dialog" aria-labelledby="devLabelThree"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="devLabelThree">Developers Step 3</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="validate">
          <div class="form-group">
            <label for="devSkillOne">Select Skill</label>
            <select class="form-control" id="devSkillOne" required>
              <option>HTML5</option>
              <option>CSS3</option>
              <option>JavaScript</option>
              <option>SQL</option>
              <option>React</option>
            </select>
            <label for="devSkillTwo">Select Skill</label>
            <select class="form-control" id="devSkillTwo" required>
              <option>HTML5</option>
              <option>CSS3</option>
              <option>JavaScript</option>
              <option>SQL</option>
              <option>React</option>
            </select>
            <label for="devSkillThree">Select Skill</label>
            <select class="form-control" id="devSkillThree" required>
              <option>HTML5</option>
              <option>CSS3</option>
              <option>JavaScript</option>
              <option>SQL</option>
              <option>React</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal"
          data-target="#devModalTwo">Back</button>
        <a href="/developers" class="btn btn-primary" id="devSubmit">Submit</a>
      </div>
    </div>
  </div>
</div>