<div class="layout-bg">
  <div class="layout-wrap">
    {{> header}}
    <div class="container mt-5">
      <h2>I think you took a wrong turn...</h2>
      <a class="btn btn-primary" href="/">← Back To Home</a>
    </div>
  </div>
</div>