{{!-- Chris --}}

{{> header}}

<div class="container border rounded mt-5">
  <div class="row d-flex justify-content-center">
    <div class="card m-5" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="Adrian">
      <div class="card-body">
        <h5 class="card-title">Adrian</h5>
        <p class="card-text">Contacts</p>
        <a href="#" class="btn btn-primary" target="_blank" rel="noopener noreferrer">Portfolio</a>
      </div>
    </div>
    <div class="card m-5" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="Aimes">
      <div class="card-body">
        <h5 class="card-title">Aimes</h5>
        <p class="card-text">Jobs List</p>
        <a href="#" class="btn btn-primary" target="_blank" rel="noopener noreferrer">Portfolio</a>
      </div>
    </div>
    <div class="card m-5" style="width: 18rem;">
      <img src="/images/chris.jpg" class="card-img-top" alt="Chris">
      <div class="card-body">
        <h5 class="card-title">Chris</h5>
        <p class="card-text">Layout & Sign-up</p>
        <a href="https://crcass.github.io/portfolio/" class="btn btn-primary" target="_blank"
          rel="noopener noreferrer">Portfolio</a>
      </div>
    </div>
    <div class="card m-5" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="Vince">
      <div class="card-body">
        <h5 class="card-title">Vince</h5>
        <p class="card-text">Profile & Authentication</p>
        <a href="#" class="btn btn-primary" target="_blank" rel="noopener noreferrer">Portfolio</a>
      </div>
    </div>

  </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/js/about.js"></script>