<div class="layout-bg">
  <div class="layout-wrap">
    {{> header}}
    <div class="row container-fluid layout-container">
      <div class="col-sm-3">
        {{!-- Vince --}}
        {{> profile developers}}
        {{!-- Adrian --}}
        {{> contact}}
      </div>
      {{!-- Aimes --}}
      <div class='col-sm-9' id='jobResultsHolder'>
        <h1>Jobs Results:</h1>
        <div class="table-wrap rounded shadow-wrap">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Company</th>
                <th scope="col">Top Skills</th>
                <th scope="col">More Info</th>
              </tr>
            </thead>
            <tbody>
              {{#each Businesses}}
              {{> business-block }}
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src='/js/businesses.js'></script>