{{> header}}


<div class="container home-container">
  <div class="row justify-content-center align-middle home-row">
    <div class="card m-3" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">For Employers</h5>
        <p class="card-text">Employers click this button to do stuff</p>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#homeEmpModal">
  Click
</button>
      </div>
    </div>
    <div class="card m-3" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">For Developers</h5>
        <p class="card-text">Devs click this button to do stuff</p>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#homeDevModal">
  Click
</button>
      </div>
    </div>
  </div>
</div>

{{> home-modal}}

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/js/index.js"></script>
