html, body {
  height: 100%;
}

/* Homepage */
.home-container {
  display: flex;
  height: 100%;
  align-items: center;
}

.home-row {
  width: 100%;
  margin: 0 auto;
}

#message-center {
  width: 40%;
  float: left;

}